################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ATM/.vs/ATM/v15/Server/sqlite3
